.encabezado_h1, .encabezado_h4{
    text-align: center;
}
.encabezado_h1 + .encabezado_h4 {
    margin-top: -15px;
    margin-bottom: 30px;
}

.pie_pagina{
    text-align: center;
}

.container{
    margin-bottom: 120px;
}

.titulos{
    margin-top: 40px;
    margin-bottom: 40px;
}

.introduccion{
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenido{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* navbar */ 
#navbar a{
    color: black;
}

#navbar a:hover{
    color: #7f7f7f;
}

.btn-link {
    text-decoration: none;
    color: black;
}

.btn-link:hover{
    text-decoration: none;
    color: #7f7f7f;
}

tr, td{
    text-align: center;
}

